<div>
    <label for="filtro-genero">Género:</label>
    <select id="filtro-genero" [(ngModel)]="filtroGenero">
      <option value="">Todos</option>
      <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
    </select>
  </div>
  
  <div>
    <label for="filtro-anio">Año de lanzamiento:</label>
    <input type="number" id="filtro-anio" [(ngModel)]="filtroAnio">
  </div>
  
  <div>
    <button (click)="aplicarFiltroPdf()">Aplicar Filtro PDF</button>
    <button (click)="aplicarFiltroXlxs()">Aplicar Filtro XLSX</button>
  </div>
<table>
<tr>
    <th>Título</th>
    <th>Género</th>
    <th>Año de lanzamiento</th>
</tr>
<tr *ngFor="let pelicula of peliculas">
    <td>{{ pelicula.titulo }}</td>
    <td>{{ pelicula.genero }}</td>
    <td>{{ pelicula.lanzamiento }}</td>
</tr>
</table>

